.paragraph {
    font-family: monospace;
    font-size: 50px;
    color: rgb(182, 68, 68);
    text-align: left;
}

.about-me {
    /* background: linear-gradient(rgb(109, 24, 24), rgb(0, 0, 0)); Gradient */
    background: rgb(0, 0, 0);
    padding: 50px;
}

.image {
    align-self: right;
    width: 100%; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
    border: 5px solid black; /* Add a border to the image */
    border-radius: 55%; /* This makes the container and its contents circular */
    margin: 10px; /* Add some space around the image */
}

#ascii-art {
    line-height: 1;
}